PORT=3000
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=wallet_db
JWT_SECRET=mySuperSecret123
REDIS_SERVER=redis://localhost:6379

GOLD_PRICE_EUR=65
INITIAL_BALANCE_EUR=1000
